body {
    margin: 0;
}
.headerNation {
    display: flex;
    background-color: #f3f3f3;
}
.headerNation__info {
    margin-right: 25em;
    color: #b1b1b1;
    font-style: uppercase;
    text-transform: uppercase;
}
.headerLinkList__logo {
    width: 7em;
}
.headerBackground {
    background:  url("img/BGHeader.jpg");
}