body {
    margin: 0;
}
.headerNation {
    display: flex;
    background-color: #f3f3f3;
}
.headerNation__title {
    margin-right: 25em;
    color: #b1b1b1;
    font-style: uppercase;
    text-transform: uppercase;
    
}
.navNation {
 

}